.planes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 80px;
  background-color: var(--color-humo);
  margin: 0 15px;
}

.cuadrados-planes{
  background-color: var(--color-boton);
  width: 450px;
  padding: 50px;
  margin: 50px;
  font-family: var(--fuente-kanit);
  color: var(--color-texto);
  border-radius: 15px;
}

.cuadrados-planes .plan-logo{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.cuadrados-planes .plan-logo img{
  width: 50%;
}

.cuadrados-planes p{
  font-size: 35px;
  font-weight: 900;
}

.boton-compra{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.cuadrados-planes ul {
  padding-left: 45px;
  text-align: justify;
}

.cuadrados-planes ul strong{
  color: var(--color-fondo);
}

.cuadrados-planes ul li{
  margin: 25px 15px;
}

@media (max-width: 768px) {
  .planes{
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .cuadrados-planes{
    max-width: 300px;
  }
  .cuadrados-planes ul{
    padding-left: 10px;
  }
  .cuadrados-planes ul li{
    font-size: 10px;
  }
  .cuadrados-planes ul strong{
    font-size: 10px;
  }
  .cuadrados-planes p{
    font-size: 15px;
  }
  .boton-compra button{
    font-size: 10px;
  }
}

@media (max-width: 1024px) {
  .planes{
    gap: 10px;
    justify-content: center;
  }
  .cuadrados-planes{
    width: 560px;
  }
  .cuadrados-planes ul{
    padding-left: 10px;
  }
  .cuadrados-planes ul li{
    font-size: 10px;
  }
  .cuadrados-planes ul strong{
    font-size: 10px;
  }
  .cuadrados-planes p{
    font-size: 15px;
  }
  .boton-compra button{
    font-size: 10px;
  }
}
