.planes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 80px;
  background-color: var(--color-humo);
  margin: 0 15px;
}

.cuadrados-planes{
  background-color: var(--color-boton);
  width: 450px;
  padding: 50px;
  margin: 50px;
  font-family: var(--fuente-kanit);
  color: var(--color-texto);
  border-radius: 15px;
}

.cuadrados-planes .plan-logo{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.cuadrados-planes .plan-logo img{
  width: 50%;
}

.cuadrados-planes p{
  font-size: 35px;
  font-weight: 900;
}

.boton-compra{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.cuadrados-planes ul {
  padding-left: 45px;
  text-align: justify;
}

.cuadrados-planes ul strong{
  color: var(--color-fondo);
}

.cuadrados-planes ul li{
  margin: 25px 15px;
}

/* Estilos planes free, premium, plus */

.free{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-humo);
  padding: 50px;
}

.contenedor-free{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.formulario {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.formulario label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--color-fondo);
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="number"],
.formulario select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-bottom: 20px;
  font-size: 16px;
}

.formulario input[type="submit"] {
  background-color: var(--color-fondo);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.formulario input[type="submit"]:hover {
  background-color: var(--color-boton);
}

/* Estilo para la opción seleccionada */
select option[selected] {
  background-color: #f7f7f7;
}

/* Estilo para la opción al pasar el cursor */
select option:hover {
  background-color: var(--color-boton);
}

/* Estilo para el contenedor del campo de fecha de vencimiento */
.contenedor-fecha {
  display: flex;
  align-items: center;
}

/* Estilo para los selectores de mes y año */
.contenedor-fecha select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  border-radius: 15px;
}

/* Estilo para el separador "/" */
.contenedor-fecha span {
  margin: 0 10px;
}

.contenedor-fecha span i{
  transform: rotate(250deg);
  font-size: 15px;
}

/* responsive */

@media (max-width: 768px) {
  .planes{
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .cuadrados-planes{
    max-width: 300px;
  }
  .cuadrados-planes ul{
    padding-left: 10px;
  }
  .cuadrados-planes ul li{
    font-size: 10px;
  }
  .cuadrados-planes ul strong{
    font-size: 10px;
  }
  .cuadrados-planes p{
    font-size: 15px;
  }
  .boton-compra button{
    font-size: 10px;
  }
}

@media (max-width: 1024px) {
  .planes{
    gap: 10px;
    justify-content: center;
  }
  .cuadrados-planes{
    width: 560px;
  }
  .cuadrados-planes ul{
    padding-left: 10px;
  }
  .cuadrados-planes ul li{
    font-size: 10px;
  }
  .cuadrados-planes ul strong{
    font-size: 10px;
  }
  .cuadrados-planes p{
    font-size: 15px;
  }
  .boton-compra button{
    font-size: 10px;
  }
}
