@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fuente-kanit);
}

:root{
  --color-fondo: #06002E;
  --color-texto: #fff;
  --fuente-kanit: 'Kanit', sans-serif;
}

.contenido-principal{
  background-color: var(--color-fondo);
}

.textos-cortos{
  color: var(--color-texto);
}