@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-fondo: #06002E;
  --color-morado: #470077;
  --color-boton: #725FF0;
  --color-texto: #fff;
  --color-barra: ##F1F1F1;
  --fuente-kanit: 'Kanit', sans-serif;
  --color-negro: #000;
  --color-humo: #d6d6d6;
}

/* scroll */

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-morado);
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-boton);
}

/* body */

body {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-in;
}

/* cabecera */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-barra);
  padding: 10px;
}

header img {
  width: 100px;
}

.menu {
  display: flex;
  font-family: var(--fuente-kanit);
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 80px;
}

.menu li {
  position: relative;
}

.menu li a {
  text-decoration: none;
  font-weight: 900;
  display: block;
  color: var(--color-morado);
  transition: 0.8s ease;
}

.menu li a .arriba-abajo{
  transform: rotate(180deg);
}

.menu li a:hover .arriba-abajo{
  color: var(--color-boton);
  transform: rotate(0deg);
}

.menu .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-texto);
  min-width: 150%;
  z-index: 2;
  border-radius: 0 15px;
}

.menu .submenu li{
  padding: 10px;
  padding: 15px 5px;
  width: 100%;
  transition: 0.8s ease;
  text-align: center;
}

.menu .submenu li:hover{
  background-color: var(--color-humo);
  border-radius: 0 15px;
}

.menu li:hover > .submenu {
  display: block;
}


/* Contenido de la página */

.contenido-principal {
  background: rgb(128,149,255);
  background: radial-gradient(circle, rgba(128,149,255,1) 0%, rgba(54,0,162,1) 19%, rgba(29,0,87,1) 38%, rgba(0,0,0,1) 100%);
  display: flex;
  flex-direction: row; /* Cambiado a flex-direction: row */
  align-items: center;
  justify-content: center;
  font-family: var(--fuente-kanit);
}

.contenido-principal .estrella{
  position: absolute;
  width: 240px;
  left: 0;
  transform: rotate(-10deg);
}

.contenido-principal .aro{
  position: absolute;
  width: 240px;
  right: 0;
}

.contenedor-1 {
  margin: 70px 0;
  display: flex;
  flex-direction: column; /* Cambiado a flex-direction: row */
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.textos-frases {
  color: var(--color-texto);
  font-size: 34.4px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

button {
  padding: 10px 20px;
  background-color: var(--color-boton);
  border: 0;
  border-radius: 15px;
  font-family: var(--color-fondo);
  color: var(--color-texto);
  margin: 15px 0;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 1px 2px 10px var(--color-negro);
}

/* contenedor 02 */

.contenedor-2 {
  background-color: var(--color-fondo);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contenedor-cuadrito-img {
  display: flex;
  justify-content: flex-end; /* Alineación a la derecha */
  width: 50%;
  background-image: url(../img/fondo.png);
  background-size: cover;
}

.contenedor-cuadrito-img .cuadrito {
  margin: 80px 0;
  padding: 20px;
  font-family: var(--fuente-kanit);
  font-weight: 900;
  color: var(--color-texto);
  background-color: var(--color-boton);
  font-size: 30px;
  border-radius: 15px 0 0 15px;
  width: 500px;
}

.imagen-facurar{
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagen-facurar img{
  width: 30%;
  margin: 50px 15px;
}

/* contenedor 03 */

.contenedor-3{
  background-color: var(--color-barra);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.beneficios .titulo{
  margin: 50px;
  font-family: var(--fuente-kanit);
  color: var(--color-morado);
  font-size: 58px;
}

.beneficios .contenedor-cuadritos-beneficio {
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  font-size: 15px;
}

.beneficios .contenedor-cuadritos-beneficio .cuadrito-benficio {
  max-width: 500px;
  border-radius: 15px;
  background-color: var(--color-morado);
  color: var(--color-texto);
  font-family: var(--fuente-kanit);
  padding: 50px;
  height: 400px;
  font-size: 20px;
}

.beneficios .contenedor-cuadritos-beneficio .cuadrito-benficio-alterno {
  max-width: 500px;
  border-radius: 15px;
  background-color: var(--color-boton);
  color: var(--color-texto);
  font-family: var(--fuente-kanit);
  padding: 50px;
  height: 400px;
  font-size: 20px;
}

.titulo-benficio{
  font-family: var(--fuente-kanit);
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 30px;
}


/* Footer */

footer{
  background-color: var(--color-fondo);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 80px;
  color: var(--color-texto);
  padding: 50px 0;
  font-family: var(--fuente-kanit);
}

.contenedor-informacion-contactos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-cuadrito-contactos{
  background-color: var(--color-boton);
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
  width: 400px;
  max-height: 140px;
}

.titulos-footer{
  font-weight: 900;
  text-transform: uppercase;
}

.contactos {
  padding: 15px;
}

.contactos h1 i{
  font-size: 17px;
}

.redes{
  text-align: right;
  font-size: 30px;
}

.redes a{
  color: var(--color-texto);
}

.segundo-contenedor-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.segundo-contenedor-footer ul{
  list-style: none;
}

.segundo-contenedor-footer ul li{
  margin: 50px;
}

.segundo-contenedor-footer ul li a{
  color: var(--color-texto);
  text-decoration: none;
}

.segundo-contenedor-footer ul li a:hover{
  color: var(--color-boton);
}

.cuadrado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* adicionales */

.titulo-planes{
  text-align: center;
  font-family: var(--fuente-kanit);
  font-size: 50px;
  background-color: var(--color-morado);
  color: var(--color-texto);
  border-radius: 15px 15px 0 0;
  margin: 0 15px;
}

/* responsive */

@media (max-width: 768px) {
  header {
    justify-content: space-between;
  }

  header img {
    width: 50px;
  }

  .menu {
    font-size: 10px;
  }

  .menu ul {
    gap: 40px;
  }

  .contenedor-1 img {
    width: 300px;
  }

  .contenedor-1 p {
    margin: 0 15px;
  }

  .contenido-principal .estrella {
    width: 150px;
  }

  .contenido-principal .aro {
    width: 150px;
  }

  .contenedor-cuadrito-img .cuadrito {
    font-size: 10px;
    width: 150px;
    margin: 35px 0;
  }

  .imagen-facurar img {
    width: 50%;
  }

  .beneficios .contenedor-cuadritos-beneficio {
    flex-direction: column;
    gap: 40px;
  }

  .beneficios .titulo {
    font-size: 30px;
    margin: 30px 50px;
    text-align: center;
  }

  .titulo-benficio {
    font-size: 15px;
  }

  .beneficios .contenedor-cuadritos-beneficio .cuadrito-benficio,
  .beneficios .contenedor-cuadritos-beneficio .cuadrito-benficio-alterno {
    flex: 1;
    max-width: 700px;
    border-radius: 15px;
    background-color: var(--color-morado);
    color: var(--color-texto);
    font-family: var(--fuente-kanit);
    padding: 50px 30px;
    font-size: 10px;
  }

  .contenedor-3 .flamita img {
    width: 100px;
    height: 800px;
  }

  footer{
    flex-direction: column;
  }

  .contenedor-cuadrito-contactos{
    max-width: 300px;
  }
  .cuadrado img{
    width: 50%;
  }
  .segundo-contenedor-footer{
    text-align: center;
  }

  .contactos{
    margin-left: 35px;
  }
  .no-link {
    pointer-events: none;
    cursor: default;
  }
}

@media (max-width: 1024px) {
  header {
    justify-content: space-between;
  }

  header img {
    width: 50px;
  }

  .menu {
    font-size: 10px;
  }

  .menu ul {
    gap: 40px;
  }

  .contenedor-1 img {
    width: 300px;
  }

  .contenedor-1 p {
    margin: 0 15px;
  }

  .contenido-principal .estrella {
    width: 150px;
  }

  .contenido-principal .aro {
    width: 150px;
  }

  .contenedor-cuadrito-img .cuadrito {
    font-size: 10px;
    width: 150px;
    margin: 35px 0;
  }

  .imagen-facurar img {
    width: 50%;
  }

  .beneficios .contenedor-cuadritos-beneficio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }

  .beneficios .titulo {
    font-size: 30px;
    margin: 30px 50px;
    text-align: center;
  }

  .titulo-benficio {
    font-size: 15px;
  }

  .beneficios .contenedor-cuadritos-beneficio .cuadrito-benficio,
  .beneficios .contenedor-cuadritos-beneficio .cuadrito-benficio-alterno {
    flex: 1;
    width: 100%;
    border-radius: 15px;
    background-color: var(--color-morado);
    color: var(--color-texto);
    font-family: var(--fuente-kanit);
    padding: 50px 30px;
    font-size: 10px;
  }

  .contenedor-3 .flamita img {
    width: 100px;
    height: 800px;
  }

  footer{
    padding: 50px 25px;
  }

  .contenedor-cuadrito-contactos{
    width: 400px;
  }
  .cuadrado img{
    width: 50%;
  }
  .segundo-contenedor-footer{
    text-align: center;
  }

  .contactos{
    margin-left: 35px;
  }
}
