@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-fondo: #06002E;
  --color-morado: #470077;
  --color-boton: #725FF0;
  --color-lila: #654ff7;
  --color-texto: #fff;
  --color-barra: #F1F1F1;
  --fuente-kanit: 'Kanit', sans-serif;
  --color-negro: #000;
  --color-humo: #d6d6d6;
  --color-lila-bb: #DBDFEA;
}

body{
  min-height: 100vh;
}

a{
  color: var(--color-texto);
  text-decoration: none;
}

li{
  list-style: none;
}

.menu-lateral{
  position: fixed;
  background-color: var(--color-boton);
  width: 35vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu-lateral .logo{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.menu-lateral .logo img{
  width: 50%;
}

.menu-lateral li a{
  font-size: 18px;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--fuente-kanit);
}

.menu-lateral li a:hover{
  background-color: var(--color-texto);
  color: var(--color-boton);
}

.contenedor{
  position: absolute;
  right: 0;
  width: 83vw;
  height: 100vh;
  background-color: var(--color-humo);
}

.contenedor .cabecera{
  position: fixed;
  top: 0;
  right: 0;
  width: 83vw;
  height: 10vh;
  background-color: var(--color-lila);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.contenedor .cabecera .menu{
  width: 90%;
  display: flex;
  align-items: center;
}

.contenedor .cabecera .menu .buscador{
  flex: 3;
}

.contenedor .cabecera .menu .usuario{
  flex: 0.4;
}

.contenedor .cabecera .menu .buscador input[type=text]{
  border: none;
  background-color: var(--color-humo);
  padding: 10px;
  width: 50%;
  border-radius: 15px;
  font-family: var(--fuente-kanit);
}

.contenedor .cabecera .menu .buscador button{
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 15px;
}

.contenedor .cabecera .menu .usuario .boton{
  position: relative;
  font-size: 30px;
}

.contenedor .contenido{
  position: relative;
  margin-top: 10vh;
  min-height: 90vh;
}

.contenedor .contenido .titulos{
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: var(--fuente-kanit);
}

.contenedor .contenido .actividad-ventas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  font-family: var(--fuente-kanit);
  gap: 80px;
}

.contenedor .contenido .actividad-ventas .columna{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor .contenido .actividad-ventas .columna .tarjetas-contenido{
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contenedor .contenido .actividad-ventas .columna .tarjetas-contenido .tarjeta{
  width: 280px;
  height: 100px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--color-boton);
  display: flex;
  align-items: end;
  justify-content: center;
  color: var(--color-texto);
  font-weight: 900;
}

.contenedor .contenido .actividad-ventas .columna h1{
  margin-top: 20px;
  color: var(--color-boton);
}

.contenedor .contenido .actividad-ventas .columna .tarjeta{
  width: 280px;
  height: 100px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--color-boton);
  display: flex;
  align-items: end;
  justify-content: center;
  color: var(--color-texto);
  font-weight: 900;
  margin-top: 20px;
}

.contenedor .contenido .detalles-articulos{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--fuente-kanit);
}

.contenedor .contenido .detalles-articulos .detalles-producto{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.contenedor .contenido .detalles-articulos  h1{
  margin-top: 5px;
  color: var(--color-boton);
  text-align: center;
}

.contenedor .contenido .detalles-articulos .detalles-producto .tabla .filas{
  width: 280px;
  height: 100px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--color-boton);
  display: flex;
  align-items: end;
  justify-content: center;
  color: var(--color-texto);
  font-weight: 900;
  margin-top: 20px;
}

.contenedor .contenido .detalles-articulos .orden-fecha{
  width: 380px;
  height: 200px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--color-boton);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-texto);
  font-weight: 900;
  margin-top: 10px;
  gap: 80px;
}

.contenedor .contenido .detalles-articulos .orden-fecha .titulos-columnas{
  background-color: var(--color-lila-bb);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
  color: var(--color-boton);
  border-radius: 15px;
}

.contenedor .contenido .detalles-articulos .orden-fecha .tarjetas-columnas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.contenedor .contenido .detalles-articulos .articulo-ventas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contenedor .contenido .detalles-articulos .articulo-ventas .tarjeta{
  width: 150px;
  height: 200px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--color-boton);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-texto);
  font-weight: 900;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .menu-lateral li a span {
    display: none;
  }
  .menu-lateral {
    align-items: center;
    width: 10vh;
  }
  .menu-lateral .logo {
    padding: 5px;
  }
  .menu-lateral .logo img{
    width: 80%;
  }

  .contenedor .contenido .titulos{
    font-size: 10px;
  }

  .contenedor .cabecera .menu .usuario .boton{
    font-size: 20px;
  }

  .contenedor .cabecera{
    width: 83vw;
    top: 0;
    left: 8.3vh;
    height: 8vh;
  }

  .contenedor .cabecera .menu .usuario{
    flex: 2;
    text-align: right;
  }

  .contenedor .contenido{
    margin-top: 8vh;
  }

  .contenedor .contenido .actividad-ventas{
    gap: 3px;
  }

  .contenedor .contenido .actividad-ventas .columna .tarjetas-contenido{
    gap: 3px;
  }
  .contenedor .contenido .actividad-ventas .columna .tarjetas-contenido .tarjeta{
    width: 70px;
    font-size: 10px;
  }
  .contenedor .contenido .actividad-ventas .columna h1{
    font-size: 12px;
  }
  .contenedor .contenido .actividad-ventas .columna .tarjeta{
    width: 100px;
    font-size: 10px;
  }
  .contenedor .contenido .detalles-articulos  h1{
    font-size: 15px;
  }
}
